## Log Configuration Keys
# an identifier (default: log).
lombok.log.fieldName = log

# [true | false] (default: true)
lombok.log.fieldIsStatic = true

# [warning | error] (default: not set)
# lombok.log.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.apacheCommons.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.flogger.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.jbosslog.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.javaUtilLogging.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.log4j.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.log4j2.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.slf4j.flagUsage = error

# [warning | error] (default: not set)
# lombok.log.xslf4j.flagUsage = error

# [warning | error] (default: not set)
# lombok.var.flagUsage = error

# [warning | error] (default: not set)
# lombok.val.flagUsage = error

